*{
	box-sizing: border-box;
}

p{
	text-indent: 2rem;
}

body{
	font: @mainFontWeight @mainFontSizeD @mainFontFamily;
	// line-height: @mainLineHeight;
	.wrapper {
		max-width: @wrapperWidth;
		min-height: @wrapperHeight;
		position: relative;
		padding-bottom: 70px;
	}

	.contacts,
	.useful-information{
		position: relative;
		// padding-right: 6.5rem;
	}

	// .contacts::after,
	// .useful-information::after{
	// 	content:'';
	// 	position: absolute;
	// 	width: 3.5rem;
	// 	height: 3.5rem;
	// 	.top(50%,"-",1.7rem);		
	// 	margin-left: 10px;
	// 	.setBackgroundImage(@infoIcon);
	// }

	// .contacts{
	// 	&::after{
	// 		background-image: url(@contacsIcon);
	// 	}
	// }

	.information{
		text-align: left;
		padding-left: 30px;
	}

	@media @mobile{
		font-size: 14px;
	}

	.desktop_img{
		display: block;

		@media @mobile{
			display: none;
		}
	}

	.mobile_img{
		display: none;

		@media @mobile{
			display: block;
			height: 100%;
		}
	}


	

	.prompt_w{
		display: block;
		cursor: pointer;
		position: relative;

		&:hover{
			font-weight: bold;
			@media @mobile{
				font-weight: 400;
			}		
		}

		.prompt_d{
			display: none;
			position: absolute;
			top: 100%;
			margin-top: 20px;
			left: 30px;
			padding: 10px;
			background-color: @prompt_dBG;
			.setBorder(2px, @mainFontColor, 10px);
			z-index: 3;

			&:hover{
				display: block;
			}			
		}

		&:hover .prompt_d{
			display: block;	
			@media @mobile{
				display: none;
			}					
		}
	}
}

.no-padding{
	padding:0;
}


.high-line-height{
	line-height: 2.5;
}

.high-line-height .content-section-download::after,
.high-line-height .content-section-download:hover::after{
	top:8px;
}
	
