*{
	box-sizing: border-box;
}

p{
	text-indent: 2rem;
}

body{
	font: @mainFontWeight @mainFontSizeD @mainFontFamily;	
	min-height: 100vh;
	padding-bottom: 60px;
	position: relative;

	.wrapper {
		max-width: @wrapperWidth;
		position: relative;
	}

	.contacts,
	.useful-information{
		position: relative;
	}

	.information{
		text-align: left;
		padding-left: 30px;
	}

	@media @mobile{
		font-size: 14px;
	}

	.desktop_img{
		display: block;

		@media @mobile{
			display: none;
		}
	}

	.mobile_img{
		display: none;

		@media @mobile{
			display: block;
			height: 100%;
		}
	}


	

	.prompt_w{
		display: block;
		cursor: pointer;
		position: relative;

		&:hover{
			font-weight: bold;
			@media @mobile{
				font-weight: 400;
			}		
		}

		.prompt_d{
			display: none;
			position: absolute;
			top: 100%;
			margin-top: 20px;
			left: 30px;
			padding: 10px;
			background-color: @prompt_dBG;
			.setBorder(2px, @mainFontColor, 10px);
			z-index: 3;

			&:hover{
				display: block;
			}			
		}

		&:hover .prompt_d{
			display: block;	
			@media @mobile{
				display: none;
			}					
		}
	}
}

.no-padding{
	padding:0;
}


.high-line-height{
	line-height: 2.5;
}

.high-line-height .content-section-download::after,
.high-line-height .content-section-download:hover::after{
	top:8px;
}
	
