*{
	box-sizing: border-box;

}

body{
	font: @mainFontWeight @mainFontSize @mainFontFamily;
	line-height: @mainLineHeight;
		.wrapper {
		max-width: @wrapperWidth;
		min-height: @wrapperHeight;
		position: relative;
		padding-bottom: 70px;
	}
}

	
