//images gallery

.content-gallery-block{
	width: 19%;
	margin: 10px 0.5%;
	transition: opacity 0.2s linear;
	
	&:hover{
		opacity: 0.75;
	}

	@media @mobile{
		width: 100%;
		height: auto;

		.content-header-photo{
			order: -1;
		}
	}
}

.content-image{
	width: 100%;
	background-color: transparent;
}

.team-gallery-head{
	width: 32%;

	@media @mobile{
		width: 100%;
		height: auto;
	}
}



//section gallery

.content-gallery{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	.content-section-wrapper{
		display: inline-block;
		padding: 10px;
		width: 33%;	

		&:hover .content-section-link .content-section-container .content-section-title{			
			display: block;	
		}

		.content-section-link{
			cursor: pointer;
			
			.content-section-container{
				position: relative;
				height: 25rem;
				.setBackgroundWImg();

				.content-section-title{
					display: none;					
					position: absolute;
					width: 100%;
					bottom: 2%;
					padding: 5px;
					background-color: @sectTitleColor;		


					.content-section-name{
						font-weight: bold;
						font-size: 1.6rem;
						color: @sectFontColor;
					}

					@media @mobile{
						display: block;
					}
				}
			}
			&:hover{
				text-decoration: none;
			}
		}

		&:hover .video-play_icon::before{
			width: 40px;
			height: 40px;
			.top(50%,"-",20px);
			.left(50%,"-",20px);			
		}

		@media @mobile{
			width: 100%;
			max-width: 330px;
		}	
	}
}


.video-play_icon{
	position: relative;
}

.video-play_icon::before{
	display: block;
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	.top(50%,"-",15px);
	.left(50%,"-",15px);
	.setBackgroundImage(@playIcon);
}

.content-section-download{
	display: block;
	position: relative;

	&:hover::after{
		content: '';
		width: 20px;
		height: 20px;
		position: absolute;
		margin-left: 5px;
		.setBackgroundImage(@pdfIcon);
	}

	@media @mobile{
		::after{
			content: '';
			width: 20px;
			height: 20px;
			position: absolute;
			margin-left: 5px;
			.setBackgroundImage(@pdfIcon);
		}
	}
}
