@import 'https://fonts.googleapis.com/css?family=Didact+Gothic';

@mainFontFamily: 'Didact Gothic', 'Futura', sans-serif;
@mainFontSize: 14px;
@mainLineHeight: 14px;
@mainFontWeight: 400;
@wrapperWidth: 1200px;
@wrapperHeight: 100vh;
@mainLogo:"../images/design/ogasa.png";
@mainLogoWhite:"../images/design/ogasa-white.png";
@mainFontColor: #333;

@blankMargin: 0;
@blankPadding: 0;
@marginCenter: 0 auto;

@fullWidth: 100%;
@fullHeight: 100%;
@colorWhite: rgb(255, 255, 255);


// Menu colors
@menuItemHvBrd:rgba(22, 95, 67, 0.23);
@menuItemHvBgCl:rgba(0, 0, 0,0.03);
@menuLinkHover:rgb(35, 82, 124);
