@marker-1:"../images/design/marker-1.png";
@marker-2:"../images/design/marker-2.png";
@marker-3:"../images/design/marker-3.png";
@marker-4:"../images/design/marker-4.png";
@marker-5:"../images/design/marker-5.png";
@marker-6:"../images/design/marker-6.png";
@marker-7:"../images/design/marker-7.png";
@marker-8:"../images/design/marker-8.png";

.no-marker>li{
	list-style-type: none;
	
	.marker-1{
		list-style-image: url(@marker-1);
	}
	.marker-2{
		list-style-image: url(@marker-2);
	}
	.marker-3{
		list-style-image: url(@marker-3);
	}
	.marker-4{
		list-style-image: url(@marker-4);
	}
	.marker-5{
		list-style-image: url(@marker-5);
	}
	.marker-6{
		list-style-image: url(@marker-6);
	}
	.marker-7{
		list-style-image: url(@marker-7);
	}
	.marker-8{
		list-style-image: url(@marker-8);
	}
}

