.bold{
	font-weight: bold;
}

.clear-link,
.clear-link:focus,
.clear-link:active,
.clear-link:visited,
.clear-link:hover{
	text-decoration: none;
	color: @mainFontColor;
	cursor: pointer;
}

.block_element{
	display: block;
}

.block-center{
	display: block;
	margin:@marginCenter;
}

.text-align-left {
	text-align: left;
}

.width_4{
	width: 40%;
}

.width_5{
	width: 50%;
}

.width_7{
	width: 70%;
} 

.disabled{
	display: none !important;
}

.important_information{
	color: red;
	font-size: 1.7rem;
}






