@import 'https://fonts.googleapis.com/css?family=Didact+Gothic';

*{
	box-sizing: border-box;
}

body{
	font-family: 'Didact Gothic', sans-serif;
}

.wrapper {
	max-width: 1300px;
}

header {
	margin-top: 10px;
	height: 50px;
}

.header-logo{
	height: 50px;
	text-align: center;
}

.header-logo img{
	height: 100%;
}

.header-menu {
	text-align: center;
	padding: 0;
	margin: 10px 0;
	font-size: 1.5rem;
	/*font-size: 3.5vh;*/
}

.menu-item{
	line-height: 3rem;
	list-style-type: none;
	z-index: 10;
	width: auto;
	position: relative;
	border-radius: 1rem;
}

.menu-item-link {
	font-weight: bold;
}
.menu-item-link:hover{
	text-decoration:none;
}

.submenu{
	padding: 10px;
	width: 100%;
	display: none;
	background-color: rgba(255, 255,255, 0.75);
	position: absolute;
	top:103%;
	left: 0;
	border-radius: 1rem;

}

.submenu .menu-item-link {
	color: rgb(16, 45, 70);
}

.menu-item:hover{
	background-color: rgba(166, 207, 210, 0.28);
}

.menu-item:hover .submenu{
	display: inline-block;
	width: 100%;
}


.content-slider {
	margin-top: 20px;
	height: 500px;
	background-image: url(images/a4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}


.content-description-header{
	text-align: center;
	background-color: rgba(0,255,0,0.3);
	padding:20px;
	font-size: 2.8rem;
}

.content-description-subheader {
	font-size: 1.7rem;
}

.content-description-text{
	text-align: center;
	background-color: rgba(0,255,0,0.1);
	padding:20px;
	font-size: 1.5rem;
	margin-top:2rem;
}

.networks{
	text-align-last: center;
	line-height: 60px;
	height: 60px;
	background-color: rgba(0,0,20,0.85);.
	font-weight: 500;
	margin-top: 1em;
}
.networks-link {		
	color: white;
	font-size: 16px;
}

.networks-link:hover,
.networks-link:active,
.networks-link:visited
{
	color: white;
	text-decoration: none;
}

.networks-icon{
	width: 1.5em;
}
.content-gallery{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.content-gallery-link{
	max-width: 25%;
}

.content-image{
	width: 100%;
	padding: 2%;
	height: auto;
}

.team-gallery-link{
	max-width: 33%;
}

.team-gallery-link{
	max-width: 33%;
}


.content-image:hover{
	opacity: 0.9;
	background-color: rgb(179, 255, 179);
}

.form-item {
	display: block;
	width: 30%;
	margin:20px auto;
}
.form-item span {
	display: block;
	margin-bottom: 10px;
}

.form-item strong {
	color: red;
	font-size: 20px;
}


.form-item-input {
	width: 200px;
}

.form-item-input-radio{
	display: inline-block;
	width: 40px;
}

.form-item-elaboration {
	color: grey;
	opacity: 0.8;
}

.content-video{
	margin: 0 auto;
	text-align: center;
	width: auto;

}

.link-person:hover{
	font-weight: bold;
	text-decoration: none;
}

.btn_go_up {
	position: fixed;
	right: 5%;
	bottom: 10%;
	width: 70px;
	height: 50px;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	border-radius: 1em;
}

.btn_go_up-link{
	line-height: 50px;
	color: white;
	font-size: 15px;
}

.btn_go_up-link:hover{
	color: white;
	font-weight: bold;
	text-decoration: none;

}

.gallery_hidden{
/*	height: 100em;
	overflow: hidden;*/
}

.btn_open_more{
	margin: 10px auto 0;
	width: auto;
	max-width: 40%;
	text-align: center;
	padding:0.8rem;
	font-size: 1.5rem;
	background-color:rgba(0,0,0,0.2);
	border-radius: 0.5em;
}

.btn_open_more-link:hover{
	text-decoration: none;
	font-weight: bold;
}

.content-map{
	margin: 3rem 0;
}
.content-ogasa-map{
	width: 100%;
	height: auto;
}

.content-contacts{
	text-align: left;
	margin: 3rem 0 0 100px;
	position: relative;
}
.content-contacts::before{
	content:'';
	width: 70px;
	height: 70px;
	background-image: url(images/contacts/contact1.jpg);
	position: absolute;
	left: -90px;
	border-radius: 50%;
	background-position:center;
	background-size: cover;
}

.content-contacts::after{
	content:'';
	width: 100%;
	height: 1px;
	background-color: rgba(0,0,0,0.2);
	position: absolute;
	margin-top: 0.5rem;
}

.content-contacts-tel_number{
	margin-left: 1.5rem;
}
.content-contacts-tel_number::before{
	content:'';
	width: 1.8rem;
	height: 1.8rem;
	background-image: url(images/tel_number.png);
	position: absolute;
	left: -0.4rem;
	background-position:center;
	background-size: cover;
}

.content-contacts.contact_2::before{
	background-image: url(images/contacts/contact2.jpg);
}
.content-contacts.contact_3::before{
	background-image: url(images/contacts/contact3.jpg);
}

.content-contacts.contact_4::before{
	background-image: url(images/contacts/contact4.jpg);
}
.content-contacts.contact_5::before{
	background-image: url(images/contacts/contact5.jpg);
}
.content-contacts.contact_6::before{
	background-image: url(images/contacts/contact6.jpg);
}
.content-contacts.contact_7::before{
	background-image: url(images/contacts/contact7.jpg);
}
.content-contacts.contact_8::before{
	background-image: url(images/contacts/contact8.jpg);
}
.content-contacts.contact_9::before{
	background-image: url(images/contacts/contact9.jpg);
}

.content-contacts-name{
	font-weight: bold;
}







@media screen and (max-width: 480px) {

.submenu{
	position: relative;
}

.menu-item:hover .submenu{
		display: none;
	} 

	.content-gallery-link,
	.team-gallery-link{
		max-width: 100%;
	}

	.btn_open_more{
		max-width: 95vw;
	}

	.content-header-photo{
		order: -1;
	}
	.content-photo-order-1{
		order:1;
	}
	.content-photo-order-2{
		order:2;
	}
	.content-photo-order-3{
		order:3;
	}
	.content-photo-order-4{
		order:4;
	}




}